# phpstorm
.idea/*
!.idea/inspectionProfiles/Project_Default.xml
!.idea/codeStyleSettings.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/typescript-compiler.xml

node_modules/
